* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Light', sans-serif;
}

hr {
    width: 100%;
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 4px; /* Толщина линии */
}


.about-as {

    display: flex;
    background: #F3FEFD;
}

.house {

    display: flex;
    width: 100%;
    background: #F3FEFD;
}

.news-card {
    color: white;
    padding: 0 20px 0 20px;
}

.news {

    display: flex;
    background: rgb(58, 93, 90);
    border: #242222 solid 1px;
    border-radius: 10px;
    font-size: 1vw;
    width: 100%;
}
.news-text{
    padding: 10px;
}
.drop-dt{
    padding: 10px;
}
.news-date {
    display: flex;
    border-radius: 20px;
    padding: 0 0 10px 10px;
    display: flex;
    justify-content: left;

}
.btn-ic {
    display: flex;
    margin: 0 1em 0 auto;
    background: transparent;
    border: none;
}

.news-img {

    max-height: 40vh;
    display: flex;
    width: 100%;

}
.image7 {
    border-radius: 10px;

    width:inherit;
    height:inherit;
    object-fit: cover;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
h4 {
    font-size: 20px;
    font-weight: bold;
}

.saints {

    display: flex;
    width: 100%;
    background: #F3FEFD;

}

.text-p {
    font-style: normal;


}

.prayer {
    font-family: Lato, sans-serif;
    display: flex;
    width: 100%;
    height: 91vh;
    justify-content: center;
    font-size: 2vw;
    color: #242222;
    background: #F3FEFD;
}

.prayer-form {
    font-family: Lato, sans-serif;
    border: #242222 solid 2px;
    border-radius: 20px;
    display: flex;
    width: 50%;
    margin: auto;
}

.prayer-m {
    border-radius: 15px;
    margin: 1em auto 1em;
    width: 95%;
    height: 20vh;
}

.prayer-n {
    border-radius: 15px;
    margin-left: 1.5rem;
    width: 30%;
}

.btn-send {
    background-color: #3A5D5A;
    border-radius: 10px;
    display: flex;
    margin: 1em auto 1em;

}

.form-text {
    margin: 1em auto 1em 1em;
    font-size: 1.2vw;
}

.history {

    background: #F3FEFD;
}

.carousel {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.text {
    text-align: left;
    text-indent: 3em;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

.image1 {
    margin: auto;
    height: 40%;
    width: 100%;

}
.image1- {
margin: 15px 0 15px 0;


}

.image2 {
    margin: auto;
    height: 100%;
    width: 100%;

}

.image3 {

    height: 60%;
    width: 85%;

}
.add-spacing{

}
.image6 {

    margin: 3rem auto ;
    height: 25%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 20px -20px #3A5D5A;
}
.image6- {
    margin-left:auto;
    margin-right:auto;
    display:block;

}

.saint1 {
    box-sizing: border-box;
    padding: 20px;
    margin: 3rem auto;
    font-family: "Roboto Light", sans-serif;
    border: #242222 solid 1px;
    border-radius: 10px;
    font-size: 16px;
    width: 85%;
}

.add-space {
    padding: 8px 65px 20px 65px;
    margin: 2rem auto;
}



.footer {
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
}

.contact-info {
    display: flex;
    width: 90%;
    justify-content: left;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: left;
}

.net {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    margin-bottom: 0;
}

.net-item {
    margin: 20px;
    width: 30px;
    height: 30px;
}



.drop-dt {
    display: flex;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;

}

.item-1 {
    display: flex;
    flex-direction: column;
    background-color: brown;
    margin-right: 3rem;

}

.item-2 {
    display: flex;
    flex-direction: column;
    background-color: green;
    margin-right: 3rem;

}

.item-3 {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin-right: 3rem;
}

.item-4 {
    display: flex;
    flex-direction: column;
    background-color: red;
}
